@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  background: black;
}

.vartical-line {
  width: 100%;
  height: 1px;
  background: #484848;
}

.header-section .navbar .navbar-brand {
  font-size: 32px;
  font-family: "Bebas Neue", sans-serif;
  color: #C7C7C7;
}
.header-section .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%283, 255, 255, 100' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  font-size: 24px;
}
.header-section .navbar .offcanvas .offcanvas-header .offcanvas-title {
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}
.header-section .navbar .offcanvas .offcanvas-body {
  padding: 0;
}
.header-section .navbar .navbar-nav .nav-item {
  margin: 0 15px;
}
.header-section .navbar .navbar-nav .nav-item .nav-link {
  color: #C7C7C7;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.header-section .navbar .banner-btn {
  display: none;
}

@media (max-width: 375px) {
  .header-section .navbar .navbar-brand {
    font-size: 28px;
  }
  .header-section .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #C7C7C7;
  }
  .header-section .navbar .banner-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-left: 25px;
  }
  .header-section .navbar .banner-btn .contact-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .header-section .navbar .banner-btn .contact-btn a {
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0A0A0A;
    background: #D3E97A;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .header-section .navbar .banner-btn .contact-btn .banner-icon {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-section .navbar .banner-btn .contact-btn .banner-icon .link {
    background: #222222;
    padding: 15px;
    border-radius: 50%;
  }
  .header-section .navbar .banner-btn .contact-btn .banner-icon .link i {
    color: #D3E97A;
    background: none;
    font-size: 18px;
  }
}
.banner-section {
  padding-top: 120px;
  padding-bottom: 80px;
}
.banner-section .banner-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;
  color: #ffffff;
}
.banner-section .banner-text p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  max-width: 545px;
}
.banner-section .banner-text .banner-btn {
  padding-top: 20px;
}
.banner-section .banner-text .banner-btn .contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.banner-section .banner-text .banner-btn .contact-btn a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #0A0A0A;
  background: #D3E97A;
  padding: 10px 20px;
  border-radius: 20px;
}
.banner-section .banner-text .banner-btn .contact-btn .banner-icon {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-section .banner-text .banner-btn .contact-btn .banner-icon .link {
  background: #222222;
  padding: 15px;
  border-radius: 50%;
}
.banner-section .banner-text .banner-btn .contact-btn .banner-icon .link i {
  color: #D3E97A;
  background: none;
  font-size: 18px;
}
.banner-section .banner-img img {
  background: #C7C7C7;
  border-radius: 16px;
  padding-top: 20px;
}

@media (max-width: 375px) {
  .banner-section .banner-text h1 {
    font-size: 57px;
  }
  .banner-section .banner-text p {
    font-size: 16px;
  }
  .banner-section .banner-text .banner-btn {
    padding-bottom: 30px;
  }
}
.project-section {
  padding-top: 80px;
  padding-bottom: 60px;
}
.project-section .project-title h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: 76px;
}
.project-section .project-title p {
  max-width: 600px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #C7C7C7;
}
.project-section .project {
  padding-top: 20px;
}
.project-section .project .project-text h3 {
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  color: #fff;
  max-width: 576px;
  padding-bottom: 20px;
}
.project-section .project .project-text p {
  font-family: "Manrope", sans-serif;
  color: #fff;
  max-width: 576px;
}
.project-section .project .project-text .project-info {
  max-width: 576px;
}
.project-section .project .project-text .project-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
}
.project-section .project .project-text .project-info .info a {
  text-decoration: none;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 20px 0 20px 0;
}
.project-section .project .project-text .project-btn {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.project-section .project .project-text .project-btn a {
  text-decoration: none;
  color: #D3E97A;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #D3E97A;
}
.project-section .project .project-text .project-btn a i {
  margin-left: 10px;
}
.project-section .project .project-img img {
  background: #1A1A1A;
  padding: 80px 40px;
  border-radius: 10px;
}

@media (max-width: 376px) {
  .project-section .project-title h1 {
    font-size: 43px;
  }
  .project-section .project .project-text h3 {
    font-size: 24px;
    padding-top: 10px;
  }
  .project-section .project .project-text p {
    font-size: 16px;
  }
}
.about-section {
  padding-top: 120px;
  padding-bottom: 300px;
}
.about-section .about-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;
  color: #D9D9D9;
}
.about-section .about-text h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 200;
  line-height: 140%;
}
.about-section .about-text p {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  color: #C7C7C7;
  max-width: 704px;
  line-height: 150%;
  padding-top: 20px;
}
.about-section .about-text .about-btn {
  padding-top: 50px;
}
.about-section .about-text .about-btn a {
  text-decoration: none;
  color: #D3E97A;
  font-size: 16px;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  border-bottom: 1px solid #D3E97A;
}
.about-section .about-img {
  display: none;
}

@media (max-width: 375px) {
  .about-section {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .about-section .about-title {
    font-size: 42px;
  }
  .about-section .about-text h3 {
    font-size: 18px;
  }
  .about-section .about-text p {
    display: none;
  }
  .about-section .about-text .about-btn {
    padding-top: 20px;
  }
  .about-section .about-img {
    display: block;
    padding-top: 50px;
  }
}
.contact-section {
  padding-top: 120px;
  /* ///// inputs /////*/
}
.contact-section .contact-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 76px;
  color: #fff;
}
.contact-section .contact-text p {
  max-width: 302px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  line-height: 40px;
}
.contact-section .contact-text p span {
  border-bottom: 1px solid #D3E97A;
}
.contact-section .contact-text .contact-icon a i {
  color: #D3E97A;
  font-size: 30px;
  margin-right: 10px;
}
.contact-section input:focus ~ label,
.contact-section textarea:focus ~ label,
.contact-section input:valid ~ label,
.contact-section textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}
.contact-section .styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .contact-section .styled-input {
    width: 100%;
  }
}
.contact-section .styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  background: none;
}
.contact-section .styled-input.wide {
  width: 650px;
  max-width: 100%;
}
.contact-section input,
.contact-section textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}
.contact-section input:focus,
.contact-section textarea:focus {
  outline: 0;
}
.contact-section input:focus ~ span,
.contact-section textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
.contact-section textarea {
  width: 100%;
  min-height: 15em;
}
.contact-section .input-container {
  width: 650px;
  max-width: 100%;
  margin: 0px auto 25px auto;
}
.contact-section .submit-btn {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #D3E97A;
  color: black;
  font-size: 18px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.contact-section .submit-btn:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}
@media (max-width: 768px) {
  .contact-section .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}
.contact-section input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
.contact-section input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

@media (max-width: 375px) {
  .contact-section .contact-text h1 {
    font-size: 42px;
  }
  .contact-section .input-container {
    padding-top: 20px;
  }
}
.copyright p {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}

.about-section {
  padding-top: 180px;
  padding-bottom: 60px;
}
.about-section .about-text .about-btn .contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.about-section .about-text .about-btn .contact-btn a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #0A0A0A;
  background: #D3E97A;
  padding: 10px 20px;
  border-radius: 20px;
}
.about-section .about-text .about-btn .contact-btn .banner-icon {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-section .about-text .about-btn .contact-btn .banner-icon .link {
  background: #222222;
  padding: 15px;
  border-radius: 50%;
}
.about-section .about-text .about-btn .contact-btn .banner-icon .link i {
  color: #D3E97A;
  background: none;
  font-size: 18px;
}
.about-section .about-bg {
  padding-top: 40px;
}

.about-capabilities {
  padding-bottom: 60px;
}
.about-capabilities h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 76px;
  color: #fff;
}
.about-capabilities p {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  color: white;
}
.about-capabilities .about-button button {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  background: transparent;
  border: 1px solid #484848;
  padding: 5px 20px;
  border-radius: 40px;
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  .about-capabilities .about-capabilities-title h1 {
    font-size: 43px;
  }
}
.experience-section {
  padding-top: 120px;
  padding-bottom: 60px;
}
.experience-section .experience-title h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 76px;
  color: white;
}
.experience-section .about-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.experience-section .about-info .info .info-title {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.experience-section .about-info .info a {
  text-decoration: none;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}
.experience-section .about-info p {
  color: #fff;
  max-width: 600px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  padding-top: 20px;
}
.experience-section .about-info h4 {
  color: #D3E97A;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

@media (max-width: 375px) {
  .experience-section {
    padding-top: 60px;
  }
  .experience-section .experience-title h1 {
    font-size: 46px;
  }
  .experience-section .about-info .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}